@import '~bulma/sass/utilities/_all.sass';

$navbar-background-color: $black;
$navbar-item-color: $white;
$navbar-item-hover-color: $white;
$navbar-item-hover-background-color: $dark;

@import '~bulma/bulma';
